@import "../../styles/varaibles.scss";

.face-block {
  width: 100%;
  height: 400px;
  position: relative;
}

.title {
  padding-top: 130px;
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}