@import "../../styles/varaibles.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) and (min-width: 630px) {
    flex-direction: row;
    gap: 5px;
  }
  @media (max-width: 500px) {
    flex-direction: row;
    gap: 5px;
  }

  p {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
    }

    span {
      @include text(null, 35px, 600, 22px, none);
      @media (max-width: 1000px) {
        font-size: 20px;
      }
    }
  }
}

