@import "varaibles.scss";
@import "mixins.scss";

%slickActive {
  color: white !important;
  border: solid 1px $text-color;
  top: -1px;
  border-radius: 50%;
  transform: scale(0.5);
}

%h1Title {
  @include text($text-color, 30px, 500, normal, uppercase);
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

%h2Title {
  @include text($text-color, 25px, 500, normal, uppercase);
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

%persNum{
@include text($text-color, 30px, 400, normal, none);
  @media (max-width: 768px) {
    font-size: 20px;
  }
}