@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "./varaibles.scss";

*{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: $text-color;
}