@import "../../styles/varaibles.scss";

.layout{
  padding-top: 84px;
  overflow: hidden;
}

.arrow-top{
  z-index: 2;
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 7px 1px rgba(63, 38, 10, 0.25);
  border-radius: 100px;
  transition-duration: 0.25s;

  @media (max-width:1000px) {
    display: none;
  }

  &:hover{
    opacity: 0.8;
  }

  div{
    height: 31px;
  }
}

.hide{
  width: 0px;
  height: 0px;
}

.header-background{
  background-color: $primaryColor;
}