.container {
  display: flex;
  justify-content: space-between;
  flex: 0 1 814px;

}

.nav-link{
  color: white;

  &::after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background-color: white;
    transition-duration: 0.25s;
  }

  &:hover::after{
    width: 100%;
  }
}

.active{
  font-weight: 600;

  &::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
  }
}
