@import "../../../styles/varaibles.scss";
$height: 54px;
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  background-color: $button-color;
  border-style: none;
  cursor: pointer;
}
