.card {
  display: flex;
  max-width: 580px;
  &__image-container {
    width: 25%;
    img {
      height: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 35px;
    min-width: 0;
    &-wrapper {
      max-width: 301px;
    }
  }
  &__title {
    margin-bottom: 25px;
  }
}
