@import "../../styles/varaibles.scss";

.slick-slide{
  padding: 0 20px;
  display: flex!important;
  flex-direction: column;
  row-gap: 20px;
}

.slick-list{
  margin: 0 -20px;
  overflow: visible!important;
  overflow-x: clip!important;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $primaryColor!important;
}

.slick-dots{
  position: static;
  margin-top: 21px;
}