@import "../../styles/varaibles.scss";

.footer{
  padding: 55px 0px 20px 0px;
  background-color: $secondaryColor;
  margin-top: 30px;
  box-shadow: inset 0px 0px 100px 5px rgba(122, 101, 59, 0.9);
}

.row{
  display: flex;
  justify-content: space-between;
}

.column{
  max-width:481px;

  &.phones{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p+p{
    margin-top: 10px;
  }
}

.title{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
}

.subtitle{
  text-transform: uppercase;
  font-size:35px;
  line-height: 43px;
  margin-bottom: 20px;
}

.socials{
  display: flex;
  gap: 16px;
  align-items: center;
}

.line{
  max-width: 1200px;
  margin: 0 auto;
  border: none;
  outline: none;
  height: 2px;
  background-color: $primaryColor;
  margin-top: 34px;
}

.payments{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 16px;
}

.last-row{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  a{
    color: #7C644A;
  }

  div{
    display: flex;
    justify-content: center;
    column-gap: 34px;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}