@import "../../styles/varaibles.scss";

.title{
  font-size: 40px;
  font-weight: 500;
  margin-top: 40px;
}

.meal-time{
  display: flex;
  gap: 24px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  margin-top: 25px;
}