@import "../../../styles/varaibles.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/extensions.scss";

.card {
  overflow-x: hidden;
  position: relative;
  display: flex;
  width: 100%;
  gap: 50px;
  background: $colorWhite;
  padding: 26px 42px 20px 40px;
  box-shadow: 0px 4px 17px 5px rgba(218, 203, 203, 0.4);
  @media (max-width: 1120px) {
    gap: 10px;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
  }

  .card-left {
    width: 100%;
    max-width: 528px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 1120px) {
      flex-direction: column-reverse;
    }
    @media (max-width: 768px) {
      gap: 19px;
    }

    .title {
      @include text($text-color, 35px, 600, normal, uppercase);
      min-width: 0;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (max-width: 1120px) {
        padding: 0px 15px;
        text-transform: none;
      }
      @media (max-width: 768px) {
        @include text($text-color, 18px, 500, normal, none);
      }
    }

    & img {
      width: 100%;
      max-height: 330px;
      height: 330px;
      object-fit: cover;
      object-position: bottom;
      @media (max-width: 768px) {
        max-height: 194px;
      }
    }

    & :global(.slick-slider) {

      & :global(.slick-list) {
        overflow: visible !important;
        overflow-x: clip !important;
        height: auto;
      }
    }

    & :global(.slick-dots li button:before) {
      color: $text-color !important;
      font-size: 10px;
      opacity: 1;
    }

    & :global(.slick-dots li.slick-active button:before) {
      @extend %slickActive;
    }

    & :global(.slick-dots) {
      position: static;
      margin-top: 20px;
      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }

  .card-right {
    flex: 1 1;
    @media (max-width: 1120px) {
      padding: 0px 15px 0px 15px;
    }

    .iconsContainer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      gap: 7px;
      @media (max-width: 768px) {
        margin-bottom: 10px;
      }

      .person-number {
        display: flex;

        span {
          @extend %persNum;
        }
      }

      .additional-features {
        display: flex;
        align-items: center;
        font-size: 44px;
        line-height: 40px;
        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 20px;
        }
      }
    }

    .descriptionLong {
      height: 154px;
      overflow: hidden;
      margin-bottom: 26px;
      @include text($text-color, 18px, 400, normal, none);
      text-overflow: ellipsis;
      //display: -webkit-box;
      //-webkit-line-clamp: 7;
      //-webkit-box-orient: vertical;
      @media (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    .infoContainer {
      .priceInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .priceText {
          font-size: 18px;
          max-width: 210px;
          padding-top: 6px;
          @media (max-width: 768px) {
            font-size: 16px;
            max-width: 63px;
          }
        }

        .priceWrapper {
          display: flex;
          gap: 10%;
          @media (max-width: 768px) {
            flex-direction: column;
          }
        }
      }
    }

    .buttonContainer {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1120px) {
        margin-top: 20px;
      }
      @media (max-width: 680px) and (min-width: 500px) {
        flex-direction: column;
        gap: 10px;
      }

      button {
        width: 48%;
        @media (max-width: 680px) and (min-width: 500px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
