@import "../../styles/varaibles.scss";

.face-block {
  width: 100%;
  height: 400px;
  position: relative;
}

.title {
  padding-top: 130px;
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}

.houses-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.container{
  display: grid;
  column-gap: 40px;
  grid-template-columns: 822px 1fr;

  & :global(.image-gallery-slide){
    height: 488px;

    img{
      object-fit: cover;
      height: 100%;
    }
  }

  & :global(.image-gallery-thumbnail){
    width:252px;
    height:157px;
    overflow: hidden;

    img{
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }

  & :global(.image-gallery-thumbnails-container){
    margin-top: 20px;
  }

  & :global(.image-gallery-thumbnail + .image-gallery-thumbnail){
    margin-left: 13px;
  }

  & :global(.image-gallery-thumbnails .image-gallery-thumbnails-container){
    text-align: left;
  }

  & :global(.fullscreen){
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    & :global(.image-gallery-slide .image-gallery-image){
      width: unset;
      height: unset;
      max-height: 100%;
      max-width: 100%;
    }

    & :global(.image-gallery-thumbnails){
      display: none;
    }

    & :global(.image-gallery-fullscreen-button){
      top:0px;
      transform: translateY(-100%);
      bottom:unset
    }

    & :global(.image-gallery-icon.image-gallery-fullscreen-button){
      padding: 0px;

      & svg{
        display: none;
      }

      &::after{
        content: "x";
        color:black;
        font-size: 30px;
        color: white;
        font-weight: 700;
      }

    }

    & :global(.image-gallery-thumbnails-container){
      display: none;
    }
  }

  & :global(.image-gallery-content.fullscreen){
    background: none;
  }

}

.left-column{

  & .first-row{
    width: 100%;
    height: 85px;
    background-color: white;
    box-shadow: 0px 4px 17px 5px rgba(218, 203, 203, 0.4);
    padding: 18px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div{
      display: flex;

      &>span{
        font-size: 30px;
        font-weight: 400;
        line-height: 37px;
      }

      & .beds-container{
        margin-left: 24px;
        
        p{
          text-transform: uppercase;
          flex-shrink: 0;
          width: 100%;
        }
      }
    }
  }

  h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-transform: uppercase;
    margin-right: 10px;
    text-overflow: ellipsis; //образка длинных блоков с текстом
  }

  & .description{
    text-align: justify;
    margin-top: 20px;
  }

  .features{
    margin: 25px 0px 20px;

    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 12px;
    }

    .grid-item{
      display: flex;
      gap: 20px;
      width: 200px;
      justify-content: left;
      margin: 0 auto;
    }

    hr{
      width: 100%;
      height: 2px;
      background-color: $primaryColor;
      border: none;
      margin: 7px 0px 10px;
    }
  }
}

.right-column{
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;

  &>p{
    text-align: justify;
  }

  & .form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: auto;
    min-width: 0px;
    align-items: center;

    button{
      margin-left: 0px;
      margin-top: 30px;
    }
  }

  .prices{
    height: 179px;
    width: 338px;
    background: #FFFFFF;
    border: 1px solid rgba(88, 55, 17, 0.06);
    box-shadow: 0px 0px 17px 5px rgba(218, 203, 203, 0.4);
    position: relative;
    padding: 20px 0px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .row{
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      span{
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
      }
    }

    .row+.row{
      margin-top: 16px;
    }

    .flag{
      position: absolute;
      top:15px;
      left: -10px;
      width: 279px;
      padding-left: 15px;
    }
  }

  .kitchen{
    height: 390px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(88, 55, 17, 0.06);
    box-shadow: 0px 0px 17px 5px rgba(218, 203, 203, 0.68);
    padding: 20px 25px 47px;

    h2{
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 23px;
    }
  }
}

.preload{
  margin: 0 auto;
  text-align: center;
}

:global(:not(:root):fullscreen::backdrop){
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1000px) {
  .houses-container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}



